body{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #EEEEEE;
  color: #555555;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading{
  margin-top: 0;
  margin-bottom: 60px;
  background-color: #615EFC;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #EEEEEE;
  font-weight: 400;
  font-size: 2rem;
}

.heading__card{
  width: 45vw;
  height: 160px;
  margin: auto;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #dfdfdf;
  position: relative;
}

.main__card{
  width: 45vw;
  min-height: 200px;
  margin: auto;
  padding: 8px;
  background-color: #615EFC;
  color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #dfdfdf;
  position: relative;
}

.card__sticker{
  width: 90px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px #dfdfdf;
  border-radius: 50%;
}

.card__title{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.card__alert{
  border-left: #FFFFFF solid 2px;
  background-color: #7E8EF1;
  border-radius: 2px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 1.5rem;
  font-size: 0.9rem;
}

.alert__icon{
  width: 1rem;
  height: 1rem;
}

.card__actions{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card__actions__link{
  padding: 4px;
  color: #615EFC;
  text-decoration: none;
}

.card__actions__link:hover{
  text-decoration: underline;
}

.card__actions__button{
  margin: 0 2px;
  padding: 4px 8px;
  background-color: #7E8EF1;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  color: #FFFFFF;
  transition: transform .3s;
}

.card__actions__button:hover{
  transform: scale(1.1)
}

.main{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.input__field{
  width: 99%;
  margin: 8px 0;
  border: none;
  border-bottom: #dfdfdf solid 1px;
  border-radius: 2px;
  color: #FFFFFF;
  outline: none;
  background-color: #615EFC;
}

.input__field::placeholder{
  color: #FFFFFF;
}

.input__field:focus{
  outline: 1.5px solid #7E8EF1;
}

.main__input{
  color: white;
}

.footer{
  position: fixed;
  bottom: 0;
  display: flex;  
  justify-content: center;
  gap: 10px;
  width: 100vw;
  padding: 4px;
  background-color: #EEEEEE;
  border: #dfdfdf solid 1px;
}

.footer__links{
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__links__item img{
  width: 18px;
  height: 18px;
}

.footer__text{
  padding: 0;
  margin: 0;
}

/* md screen */

@media screen and (max-width: 1024px){

  .main__card{
    width: 47vw;
    min-height: 250px;
  }
  
}

/* sm screen */

@media screen and (max-width: 764px){
  
  .heading__card{
    height: 200px;
    width: 80vw;
  }
  
  .main{
    flex-direction: column;
    gap: 4px;
  }

  .main__card{
    width: 80vw;
  }

  .card__sticker{
    width: 70px;
    position: absolute;
    top: -40px;
    right: -20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px #dfdfdf;
    border-radius: 50%;
  }  

  .card__alert{
    font-size: 11px;
  }

}