:root {
  --primary: #615EFC;
  --secondary: #EEE;
  --grey: #5C5C5C;
  --lightgrey: #D3D3D3;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--secondary);
  color: var(--grey);
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
}

.header {
  position: relative;
  width: 90%;
  height: 140px;
  padding: 8px;
  border-radius: 8px;
}

.card {
  position: relative;
  width: 90%;
  min-height: 160px;
  margin: 32px auto 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
  background-color: white;
  box-shadow: 2px 2px 6px var(--lightgrey);
}

.card_bg-primary {
  background-color: var(--primary);
}

.card_text-white {
  color: white;
}

.card__title {
  font-size: 24px;
}

.card__title_text-md {
  font-size: 18px;
}

.card__text {
  margin-top: 10px;
}

.card__action-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-top: 10px;
}

.card__link {
  text-decoration: none;
  color: var(--primary);
}

.card__link:hover {
  text-decoration: underline;
}


.card__button {
  height: 20px;
  width: 90px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  color: var(--primary);
  background-color: white;
  cursor: pointer;
  transition: transform .3s;
}

.card__button:hover{
  transform: scale(1.05)
}

.card__sticker {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  background-image: url('./assets/bonbon-line-programmer-coding-at-laptop.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 6px var(--lightgrey);
}

.card__alert {
  height: 24px;
  margin-top: 10px;
  padding-left: 5%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  background-color: #7E8EF1;
  background-image: url('./assets/icons8-information-50.png');
  background-repeat: no-repeat;
  background-size: 3%;
  background-position-x: 4px;
  background-position-y: center;
}

.card__input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--lightgrey);
  border-radius: 2px;
  background-color: var(--primary);
  color: white;
  outline: none;
}

.card__input::placeholder {
  color: white;
}

.card__input:focus {
  outline: 1.5px solid var(--primary);
}

.main {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding-top: 4px;
  border-top: 1px solid var(--lightgrey);
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary);
}

.footer__link-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__link {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

.footer__link_bg_linkedin {
  background-image: url('./assets/icons8-linkedin-50.png');
}

.footer__link_bg_github {
  background-image: url('./assets/icons8-github-50.png');
}

@media screen and (min-width: 764px) {
  
  .card {
    width: 45%;
  }

  .main {
    flex-direction: row;
    justify-content: space-around;
  }

}
